<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.milu.crm.dao.UserMapper">

    <insert id="addUser" parameterType="User">
        insert into user (userName, password, phoneNumber, pinyin, status, roleId, groupId, isLogin)
        values (#{userName}, #{password}, #{phoneNumber}, #{pinyin}, #{status}, #{roleId}, #{groupId}, #{isLogin})
    </insert>

    <select id="getUser" parameterType="User" resultType="User">
        select * from user where phoneNumber = #{phoneNumber}
    </select>


</mapper>